<div class="row clearfix">
  <div class="col-md-12 column">
    <table class="table table-bordered table-hover" id="<%= _caller %>_tab_logic">
      <thead>
        <tr >
          <th class="text-center">
            #
          </th>
          <th class="text-center">
            Question
          </th>
          <th class="text-center">
            Sub Question
          </th>
          <th class="text-center">
            Options (Seperate by "::" )
          </th>
          <th class="text-center">
            Correct answer (in number)
          </th>
          <th class="text-center">
            Solution
          </th>
        </tr>
      </thead>
      <tbody>
        <tr id='<%= _caller %>_addr0'>
          <td>
          1
          </td>
          <td>
          <textarea type="text" name='<%= _caller %>_q10'  placeholder='Question Header' class="form-control" required></textarea>
          </td>
          <td>
          <textarea type="text" name='<%= _caller %>_q20' placeholder='Sub Question' class="form-control"></textarea>
          </td>
          <td>
          <input type="text" name='<%= _caller %>_options0' placeholder='Options' class="form-control" required/>
          </td>
          <td>
          <input type="text" name='<%= _caller %>_correct0' placeholder='1 2 3 4' class="form-control" required/>
          </td>
          <td>
          <textarea type="text" name='<%= _caller %>_solution0' placeholder='Solution' class="form-control" required></textarea>
          </td>
        </tr>
        
        <tr id='<%= _caller %>_addr1'></tr>
      </tbody>
    </table>
  </div>
</div>
<br>
<a caller= "<%= _caller %>" id="add_row" class="btn btn-success pull-left">Add Row</a><a caller="<%= _caller %>" id='delete_row' class="pull-right btn btn-danger">Delete Row</a>
<br><br><br>