<header class="header black-bg">
   <div class="sidebar-toggle-box">
      <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation">
      </div>
   </div>
   <!--logo start-->
   <a href="/home" class="logo">
   <img src="/assets/img/icon.png" class="logoimg">
   <b>
   IBPS.HOW
   </b>
   </a>
   <!--logo end-->
   <div class="nav notify-row" id="top_menu">
      <!--  notification start -->
      <ul class="nav top-menu">
         <!-- settings start -->
         <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
            <i class="fa fa-tasks">
            </i>
            <span class="badge bg-theme">
            0
            </span>
            </a>
            <ul class="dropdown-menu extended tasks-bar">
               <div class="notify-arrow notify-arrow-green">
               </div>
               <li>
                  <p class="green">
                     You have 0 notifications
                  </p>
               </li>
               <li>
               <p></p>
               </li>
               <!--
               <li>
                  <a href="#">
                     <div class="task-info">
                        <div class="desc">
                           Info
                        </div>
                     </div>
                  </a>
               </li>
               -->

            </ul>
         </li>
      </ul>
   </div>
   <div class="top-menu">
      <ul class="nav pull-right top-menu">
         <li>
            <a class="logout" href="/signout">
            Logout
            </a>
         </li>
      </ul>
   </div>
</header>