<aside>
      <div id="sidebar"  class="nav-collapse ">
        <ul class="sidebar-menu" id="nav-accordion">
          
          <p class="centered">
            <a href="/profile">
              <img src="/assets/img/user.png" class="img-circle" width="60">
            </a>
          </p>
          <h5 class="centered">
            <%if (user.firstName) { %>
            <%= user.firstName %>
            <% } else { %>
            <%= user.username %>
            <% } %>
          </h5>

          <li class="mt">
            <a class="<% if(activetab=='home') { %>active<% } %>" href="/home">
              <i class="fa fa-dashboard">
              </i>
              <span>
                Dashboard
              </span>
            </a>
          </li>
          <% if(user.isadmin) { %>
          <li class="sub-menu">
            <a class="<% if(activetab=='addtop' || activetab=='createtest' || activetab=='managetest' || activetab=='manageuser') { %>active<% } %>" href="javascript:;" >
              <i class="fa fa-lock">
              </i>
              <span>
                Admin
              </span>
            </a>
            <ul class="sub">
              <li class="<% if(activetab=='addtop') { %>active<% } %>">
                <a href="/addtop">
                  Add to top
                </a>
              </li>
              <li class="<% if(activetab=='createtest') { %>active<% } %>" >
                <a href="/createtest">
                  Create Test
                </a>
              </li>
              <li class="<% if(activetab=='managetest') { %>active<% } %>" >
                <a href="/managetest">
                  Manage Test
                </a>
              </li>
              <li class="<% if(activetab=='manageuser') { %>active<% } %>" >
                <a href="/manageuser">
                  Manage User
                </a>
              </li>
            </ul>
          </li>
          <% } %>
          <li class="sub-menu">
            <a class="<% if(activetab=='special') { %>active<% } %>" href="/special">
              <i class="fa fa-exclamation">
              </i>
              <span>
                SBI Exam
              </span>
            </a>
          </li>
          <li class="sub-menu">
            <a class="<% if(activetab=='tools') { %>active<% } %>" href="/tools">
              <i class="fa fa-gears">
              </i>
              <span>
                Tools
              </span>
            </a>
          </li>
          <li class="sub-menu">
            <a class="<% if(activetab=='cutoff' || activetab=='papers') { %>active<% } %>" href="javascript:;" >
              <i class="fa fa-desktop">
              </i>
              <span>
                Last Year
              </span>
            </a>
            <ul class="sub">
              <li class="<% if(activetab=='papers') { %>active<% } %>">
                <a href="/papers">
                  Papers
                </a>
              </li>
              <li class="<% if(activetab=='cutoff') { %>active<% } %>" >
                <a href="/cutoffs">
                  Cutoffs
                </a>
              </li>
            </ul>
          </li>
          
          <li class="sub-menu">
            <a class="<% if(activetab=='analysis') { %>active<% } %>" href="/analysis" >
              <i class="fa fa-cogs">
              </i>
              <span>
                Performance Analysis
              </span>
            </a>
          </li>
          <li class="sub-menu">
            <a class="<% if(activetab=='top') { %>active<% } %>" href="/top" >
              <i class="fa fa-briefcase">
              </i>
              <span>
                Top 15
              </span>
            </a>
          </li>
          <li class="sub-menu">
            <a class="<% if(activetab=='profile') { %>active<% } %>" href="/profile" >
              <i class="fa fa-th">
              </i>
              <span>
                Profile
              </span>
            </a>
          </li>
          <li class="sub-menu">
            <a href="http://talk.ibps.how" target="_blank" >
              <i class="fa fa-th">
              </i>
              <span>
                Forum
              </span>
            </a>
          </li>
          <li class="sub-menu">
            <a href="/static" class="<% if(activetab=='sectional') { %>active<% } %>" href="">Sectional Quiz</a>
          </li>
        </ul>
      </div>
    </aside>
