<div class="panel panel-default">
  <div class="panel-heading">
  <h4>Question</h4>
  <%- (questionObj.q_major.indexOf("#same")>=0)?"":questionObj.q_major %>
  <%- questionObj.q_minor %>
  </div>
  <div class="panel-body">
        <% if(perans) { %>
        <% if (perans[index]==questionObj.correct-1 ) { %>
        <div class="btn btn-xs btn-success pull-right">Correct <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></div> 
        <% } else { %> 
        <div class="btn btn-xs btn-danger pull-right">Wrong <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>
        <% } %>
        <% } else { %>
        <div class="btn btn-xs btn-info pull-right">Not answered</div>
        <% } %>
      <div class="row mt">
      <div class="col-md-12">
        <div class="col-md-6">
            <h4></h4>
            <ul class="list-group">
              <% for(var opt in questionObj.answer_options) { %>
              <li class="list-group-item">
              <%= (parseInt(opt)+1) %> : <%- questionObj.answer_options[opt] %>        
              <% if( questionObj.correct-1 == opt ) { %>
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 
              <% } %>
              </li>
              <% } %>
            </ul>
          </div>
          <div class="col-md-6">
          <h3>Solution</h3>
          <p><%- questionObj.solution %></p>
          </div>
      </div>
      </div>

  </div>
</div>
