<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Piyush">
    <link rel="shortcut icon" href="assets/img/favicon.ico">
    <meta name="keyword" content="IBPS, HOW TO CRACK , General awareness , Mathematics">
    <title>IBPS | Prepare Conquer</title>
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/style-responsive.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <section id="container" >
      <% include ./partials/header %>
      <% include ./partials/sidebar %>
      
      <section id="main-content">
          <section class="wrapper">
              <div class="row mt">
                  <div class="col-md-12">
                      <div class="form-panel">
                        <h4 class="mb">Add to Top 15 news</h4>
                          <form class="form-horizontal style-form" method="POST" action="/addtop">
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">URL</label>
                              <div class="col-sm-10">
                                  <input name="url" class="form-control" id="disabledInput" type="text" placeholder="Enter article URL">
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Heading</label>
                              <div class="col-sm-10">
                                  <input name="heading" type="text"  class="form-control" placeholder="Enter one line heading for the URL">
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Tag</label>
                              <div class="col-sm-10">
                                  <input name="tag" type="text"  class="form-control" placeholder="Enter a tag (computer , political , general)">
                              </div>
                          </div>
                          <button type="submit" class="btn btn-theme">Save</button>
                      </form>

                      </div>

                      <div class="form-panel">
                        <h4 class="mb">Delete from Top15 news</h4>
                          <table class="table table-striped table-advance table-hover">
                              <tbody>
                              <% news.forEach(function(ne){ %>
                              <tr>
                              <td><a href="<%= ne.url %>" target="_blank"><%= ne.heading %></a></td>
                              <td><a href="/deletepost/<%= ne._id %>">[X] Delete</a></td>
                              </tr>
                              <% }) %>
                              </tbody>
                          </table>
                          <form class="form-horizontal style-form" method="GET" action="/deleteall">
                                <button type="submit" class="btn btn-theme">Delete All</button>
                          </form>
                      </div>
                  </div><!-- /col-md-12 -->
              </div><!-- /row -->

		</section><! --/wrapper -->
      </section><!-- /MAIN CONTENT -->

  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="assets/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="assets/js/jquery.scrollTo.min.js"></script>
    <script src="assets/js/common-scripts.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61553593-1', 'auto');
  ga('send', 'pageview');

</script>
  </body>
</html>
