<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Piyush">
    <link rel="shortcut icon" href="assets/img/favicon.ico">
    <meta name="keyword" content="IBPS, HOW TO CRACK , General awareness , Mathematics">
    <title>IBPS | Prepare Conquer</title>
    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet" />
	  <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">    
    <!-- Custom styles for this template -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/style-responsive.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

  <section id="container" >
      <% include ./partials/header %>
      <% include ./partials/sidebar %>
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper site-min-height">
          <h4>      <% if(perf[0].length==0) { %>
        <div class="alert alert-danger">Give examination to get subject wise performace in comparison to other students.</div>
                    <% } %>
      </h4>
              <!-- page start-->
              <div id="morris">
                  <div class="row mt">
                      <div class="col-lg-6">
                          <div class="content-panel">
                              <h4>OverAll Performance</h4>
                              <div class="panel-body">
                                  <div id="hero-overall" class="graph"></div>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="content-panel">
                              <h4>Quantitative Aptitude Performance</h4>
                              <div class="panel-body">
                                  <div id="hero-quant" class="graph"></div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row mt">
                      <div class="col-lg-6">
                          <div class="content-panel">
                              <h4>Reasoning Performance</h4>
                              <div class="panel-body">
                                  <div id="hero-reasoning" class="graph"></div>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="content-panel">
                              <h4>English Language Performance</h4>
                              <div class="panel-body">
                                  <div id="hero-eng" class="graph"></div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row mt">
                      <div class="col-lg-6">
                          <div class="content-panel">
                              <h4>Computer Knowledge Performance</h4>
                              <div class="panel-body">
                                  <div id="hero-cs" class="graph"></div>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="content-panel">
                              <h4>General Awareness Performance</h4>
                              <div class="panel-body">
                                  <div id="hero-ga" class="graph"></div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- page end-->
          </section>
      </section><!-- /MAIN CONTENT -->

      <!--main content end-->
      <!--footer start-->
      <% include ./partials/footer %>
      <!--footer end-->
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="assets/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="assets/js/jquery.scrollTo.min.js"></script>


    <!--common script for all pages-->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
	<script src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>
    <script src="assets/js/common-scripts.js"></script>

<script type="text/javascript">
  var Script = function () {
    $(function () {
      var overall_data = [ 
      <% for (var o in perf[0]) { %> 
        {"period":"<%=perf[0][o].period%>",
        "cutoff":<%= perf[0][o].cutoff.toFixed(2) %>,
        // "avg":<%= perf[0][o].avg.toFixed(2) %>,
        "personal":<%= perf[0][o].personal.toFixed(2) %> }, 
      <% } %> 
      ];
      var quant_data = [
           <% for (var o in perf[1]) { %> 
            {"period":"<%=perf[1][o].period%>",
            "cutoff":<%= perf[1][o].cutoff.toFixed(2) %>,
            // "avg":<%= perf[1][o].avg.toFixed(2) %>,
            "personal":<%= perf[1][o].personal.toFixed(2) %> }, 
          <% } %> 
      ];
      var reasoning_data = [
           <% for (var o in perf[2]) { %> 
            {"period":"<%=perf[2][o].period%>",
            "cutoff":<%= perf[2][o].cutoff.toFixed(2) %>,
            // "avg":<%= perf[2][o].avg.toFixed(2) %>,
            "personal":<%= perf[2][o].personal.toFixed(2) %> }, 
          <% } %> 
      ];
      var eng_data = [
           <% for (var o in perf[3]) { %> 
            {"period":"<%=perf[3][o].period%>",
            "cutoff":<%= perf[3][o].cutoff.toFixed(2) %>,
            // "avg":<%= perf[3][o].avg.toFixed(2) %>,
            "personal":<%= perf[3][o].personal.toFixed(2) %> }, 
          <% } %> 
      ];
      var cs_data = [
           <% for (var o in perf[4]) { %> 
            {"period":"<%=perf[4][o].period%>",
            "cutoff":<%= perf[4][o].cutoff.toFixed(2) %>,
            // "avg":<%= perf[4][o].avg.toFixed(2) %>,
            "personal":<%= perf[4][o].personal.toFixed(2) %> }, 
          <% } %> 
      ];
      var ga_data = [
           <% for (var o in perf[5]) { %> 
            {"period":"<%=perf[5][o].period%>",
            "cutoff":<%= perf[5][o].cutoff.toFixed(2) %>,
            // "avg":<%= perf[5][o].avg.toFixed(2) %>,
            "personal":<%= perf[5][o].personal.toFixed(2) %> }, 
          <% } %> 
      ];
      
      Morris.Line({
        element: 'hero-overall',
        data: overall_data,
        xkey: 'period',
        ykeys: ['cutoff' , 'personal'],
        labels: ['Cut Off' , 'Your Score'],
        lineColors:['#4ECDC4','#ed5565','#644BDB']
      });
      
      Morris.Line({
        element: 'hero-quant',
        data: quant_data,
        xkey: 'period',
        ykeys: ['cutoff' , 'personal'],
        labels: ['Cut Off' , 'Your Score'],
        lineColors:['#4ECDC4','#ed5565','#644BDB']
      });

      Morris.Line({
              element: 'hero-reasoning',
              data: reasoning_data,
              xkey: 'period',
              ykeys: ['cutoff', 'personal'],
              labels: ['Cut Off' , 'Your Score'],
              lineColors:['#4ECDC4','#ed5565','#644BDB']
            });

      Morris.Line({
              element: 'hero-eng',
              data: eng_data,
              xkey: 'period',
              ykeys: ['cutoff' , 'personal'],
              labels: ['Cut Off' , 'Your Score'],
              lineColors:['#4ECDC4','#ed5565','#644BDB']
            });

      Morris.Line({
              element: 'hero-cs',
              data: cs_data,
              xkey: 'period',
              ykeys: ['cutoff' , 'personal'],
              labels: ['Cut Off' , 'Your Score'],
              lineColors:['#4ECDC4','#ed5565','#644BDB']
            });

      Morris.Line({
              element: 'hero-ga',
              data: ga_data,
              xkey: 'period',
              ykeys: ['cutoff', 'personal'],
              labels: ['Cut Off' , 'Your Score'],
              lineColors:['#4ECDC4','#ed5565','#644BDB']
            });
    });
}();

</script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61553593-1', 'auto');
  ga('send', 'pageview');

</script>
  </body>
</html>
