<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Piyush">
    <link rel="shortcut icon" href="assets/img/favicon.ico">
    <meta name="keyword" content="IBPS, HOW TO CRACK , General awareness , Mathematics">
    <title>IBPS | Prepare Conquer</title>
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/style-responsive.css" rel="stylesheet">
    <link href="assets/css/datepicker3.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <section id="container" >
      <% include ./partials/header %>
      <% include ./partials/sidebar %>
      
      <section id="main-content">
          <section class="wrapper">
              <div class="row mt">
                  <div class="col-md-12">
                          <div class="form-panel">
                          <form method="POST" class="qbank" name="questionpaper" novalidate>
                          <div class="col-lg-12">
                            <div class="col-sm-2 pull-left">
                              <h4 class="mb">Launch a Test on</h4>
                            </div>
                            <div class="col-sm-2 pull-left">
                              <input type="text" class="datepicker col-sm-12" name="examdate" required>
                            </div>
                            <div class="col-sm-2 pull-right">
                              <button type="submit" class="btn btn-theme col-sm-12" class="saveform">Save</button>
                            </div>
                          </div>
                            <div id="content">
                            
                                  <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                                      <li class="active"><a href="#re" data-toggle="tab">Reasoning</a></li>
                                      <li><a href="#eng" data-toggle="tab">English</a></li>
                                      <li><a href="#num" data-toggle="tab">Numeric Ability</a></li>
                                      <li><a href="#ga" data-toggle="tab">General Awareness</a></li>
                                      <li><a href="#cs" data-toggle="tab">Computer Knowledge</a></li>
                                  </ul>
                                  <div id="my-tab-content" class="tab-content">
                                  
                                      <div class="tab-pane active" id="re">
                                          <%- include('./partials/addq', {_caller: "re"}) %>
                                      </div>
                                      <div class="tab-pane" id="eng">
                                          <%- include('./partials/addq', {_caller: "eng"}) %>
                                      </div>
                                      <div class="tab-pane" id="num">
                                          <%- include('./partials/addq', {_caller: "num"}) %>
                                      </div>
                                      <div class="tab-pane" id="ga">
                                          <%- include('./partials/addq', {_caller: "ga"}) %>
                                      </div>
                                      <div class="tab-pane" id="cs">
                                          <%- include('./partials/addq', {_caller: "cs"}) %>
                                      </div>
                                  </div>
                            
                            </div>

                          </form>
                          </div>
                  </div><!-- /col-md-12 -->
              </div><!-- /row -->

		</section><! --/wrapper -->
      </section><!-- /MAIN CONTENT -->

  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="assets/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="assets/js/jquery.scrollTo.min.js"></script>
    <script src="assets/js/common-scripts.js"></script>
    <script src="assets/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
    var initTiny = function(){
      tinymce.init({
        selector:'textarea',
        menubar: "format insert",
        toolbar: false,
        statusbar : false,
        invalid_elements: "span",
        plugins: "image",
    });
    }
    $( document ).ready(function() {
        $('.datepicker').datepicker({
          format : "mm-dd-yyyy"
        });
    });
    $(document).ready(function(){
      $(document).on("click", "#add_row", function (ev) {
          var i = jQuery(this).closest("div").find(".table").find("tbody").children().length - 1;
            jQuery(this).closest("div").find('#'+jQuery(this).attr("caller")+'_addr'+i).html("<td>"+ (i+1) +"</td><td><textarea name='"+jQuery(this).attr("caller")+"_q1"+i+"' type='text' placeholder='Question Header' class='form-control input-md' required></textarea></td><td><textarea name='"+jQuery(this).attr("caller")+"_q2"+i+"' type='text' placeholder='Sub Question'  class='form-control input-md'></textarea></td><td><input  name='"+jQuery(this).attr("caller")+"_options"+i+"' type='text' placeholder='Options' class='form-control input-md' required></td><td><input type='text' name='"+jQuery(this).attr("caller")+"_correct" +i+"' placeholder='1 2 3 4' class='form-control' required/></td><td><textarea type='text' name='"+jQuery(this).attr("caller")+"_solution" +i+"' placeholder='Solution' class='form-control' required></textarea></td>");
            jQuery(this).closest("div").find('#'+jQuery(this).attr("caller")+'_tab_logic').append('<tr id='+jQuery(this).attr("caller")+'_addr'+(i+1)+'></tr>');
            initTiny();
      });

      $(document).on("click", "#delete_row", function (ev) {
            var i = jQuery(this).closest("div").find(".table").find("tbody").children().length - 1;
            console.log(i)
            if(i>1){
               jQuery(this).closest("div").find('#'+jQuery(this).attr("caller")+"_addr"+(i)).remove();
               jQuery(this).closest("div").find('#'+jQuery(this).attr("caller")+"_addr"+(i-1)).html('');
                }
       });

      $(document).on("click", ".saveform", function (ev) {
          $(".qbank").submit();
      });


  });

    </script>
    <script src="//tinymce.cachefly.net/4.1/tinymce.min.js"></script>
    <script>initTiny();</script>
  </body>
</html>
