<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Piyush">
    <link rel="shortcut icon" href="assets/img/favicon.ico">
    <meta name="keyword" content="IBPS, HOW TO CRACK , General awareness , Mathematics">
    <title>IBPS | Prepare Conquer</title>
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/style-responsive.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

  <section id="container" >
      <% include ./partials/header %>
      <% include ./partials/sidebar %>
      
      <section id="main-content">
          <section class="wrapper">
          	<h3></h3>

              <div class="row mt">
                  <div class="col-md-12">
                      <div class="content-panel">
                          <table class="table table-striped table-advance table-hover">
	                  	  	  <h4>Sectional CutOff 2014</h4>
	                  	  	  <hr>
                              <thead>
                              <tr>
                                  <th>Test Name</th>
                                  <th>Maximum Marks</th>
                                  <th>SC/ST/OBC/PWD CutOff</th>
                                  <th>General CutOff</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr>
                                  <td>Quantitative Aptitude</td>
                                  <td>50</td>
                                  <td>4</td>
                                  <td>7</td>
                              </tr>
                              <tr>
                                  <td>Reasoning</td>
                                  <td>50</td>
                                  <td>6</td>
                                  <td>10</td>
                              </tr>
                              <tr>
                                  <td>English Language</td>
                                  <td>40</td>
                                  <td>6</td>
                                  <td>8</td>
                              </tr>
                              <tr>
                                  <td>Computer Knowledge</td>
                                  <td>20</td>
                                  <td>9</td>
                                  <td>11</td>
                              </tr>
                              <tr>
                                  <td>General Awareness</td>
                                  <td>40</td>
                                  <td>7</td>
                                  <td>10</td>
                              </tr>
                              </tbody>
                          </table>
                      </div><!-- /content-panel -->
                  </div><!-- /col-md-12 -->
              </div><!-- /row -->

              <div class="row mt">
                  <div class="col-md-12">
                      <div class="content-panel">
                          <table class="table table-striped table-advance table-hover">
                            <h4>Total Score CutOff 2014</h4>
                            <hr>
                              <thead>
                              <tr>
                                  <th>Category</th>
                                  <th>CutOff</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr>
                                  <td>Scheduled Caste (SC)</td>
                                  <td>70</td>
                              </tr>
                              <tr>
                                  <td>Scheduled Tribe (ST)</td>
                                  <td>56</td>
                              </tr>
                              <tr>
                                  <td>Other Backward Classes (OBC)</td>
                                  <td>80</td>
                              </tr>
                              <tr>
                                  <td>General (Gen)</td>
                                  <td>82</td>
                              </tr>
                              <tr>
                                  <td>Hearing Impaired (HI)</td>
                                  <td>36</td>
                              </tr>
                              <tr>
                                  <td>Orthopaedically Challenged (OC)</td>
                                  <td>61</td>
                              </tr>
                              <tr>
                                  <td>Visually Impaired (VI)</td>
                                  <td>38</td>
                              </tr>
                              </tbody>
                          </table>
                      </div><!-- /content-panel -->
                  </div><!-- /col-md-12 -->
              </div><!-- /row -->



              <div class="row mt">
                  <div class="col-md-12">
                      <div class="content-panel">
                          <table class="table table-striped table-advance table-hover">
                            <h4>Sectional CutOff 2013</h4>
                            <hr>
                              <thead>
                              <tr>
                                  <th>Test Name</th>
                                  <th>Maximum Marks</th>
                                  <th>SC/ST/OBC/PWD CutOff</th>
                                  <th>General CutOff</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr>
                                  <td>Quantitative Aptitude</td>
                                  <td>50</td>
                                  <td>4</td>
                                  <td>6</td>
                              </tr>
                              <tr>
                                  <td>Reasoning</td>
                                  <td>50</td>
                                  <td>6</td>
                                  <td>10</td>
                              </tr>
                              <tr>
                                  <td>English Language</td>
                                  <td>40</td>
                                  <td>3</td>
                                  <td>6</td>
                              </tr>
                              <tr>
                                  <td>Computer Knowledge</td>
                                  <td>20</td>
                                  <td>5</td>
                                  <td>7</td>
                              </tr>
                              <tr>
                                  <td>General Awareness</td>
                                  <td>40</td>
                                  <td>6</td>
                                  <td>8</td>
                              </tr>
                              </tbody>
                          </table>
                      </div><!-- /content-panel -->
                  </div><!-- /col-md-12 -->
              </div><!-- /row -->

              <div class="row mt">
                  <div class="col-md-12">
                      <div class="content-panel">
                          <table class="table table-striped table-advance table-hover">
                            <h4>Total Score CutOff 2013</h4>
                            <hr>
                              <thead>
                              <tr>
                                  <th>Category</th>
                                  <th>CutOff</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr>
                                  <td>Scheduled Caste (SC)</td>
                                  <td>50</td>
                              </tr>
                              <tr>
                                  <td>Scheduled Tribe (ST)</td>
                                  <td>26</td>
                              </tr>
                              <tr>
                                  <td>Other Backward Classes (OBC)</td>
                                  <td>60</td>
                              </tr>
                              <tr>
                                  <td>General (Gen)</td>
                                  <td>61</td>
                              </tr>
                              </tbody>
                          </table>
                      </div><!-- /content-panel -->
                  </div><!-- /col-md-12 -->
              </div><!-- /row -->

		</section><! --/wrapper -->
      </section><!-- /MAIN CONTENT -->
      <% include ./partials/footer %>
      <!--footer end-->
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="assets/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="assets/js/jquery.scrollTo.min.js"></script>


    <!--common script for all pages-->
    <script src="assets/js/common-scripts.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61553593-1', 'auto');
  ga('send', 'pageview');

</script>
    

  </body>
</html>
