<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Piyush">
    <link rel="shortcut icon" href="assets/img/favicon.ico">
    <meta name="keyword" content="IBPS, HOW TO CRACK , General awareness , Mathematics">
    <title>IBPS | Prepare Conquer</title>
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <!-- <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" /> -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="assets/lineicons/style.css">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/style-responsive.css" rel="stylesheet">
    <script src="assets/js/chart-master/Chart.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js">
    </script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js">
    </script>
    <![endif]-->
  </head>
  <body>
    <section id="container" >
    <% include ./partials/header %>
    <% include ./partials/sidebar %>
    
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <div class="row">
          <div class="col-lg-12 main-chart">
            <div class="row mtbox">
            <div class="col-lg-12 text-center">
            <% if(exam_given) { %>
            <h3>Result will open on <b><u><%= nextdate %> : night 11:59 pm</u></b></h3>
            <h5><sup>*</sup>Exam is open till <b><%= nextdate %></b> for others</h5>
            <a class="btn btn-success btn-s" href="/analysis">Analyse your performance</a>
            <% } else { %>
            <h2>This week's exam is open till <b><%= nextdate %></b></h2>
            <a class="btn btn-success btn-s" href="/launch/<%= eID %>">Give now</a>
            <% } %>

            <% 
            var submap = {
                0 : "QA",
                1 : "Reasoning",
                2 : "English",
                3 : "Computer",
                4 : "Awareness"
              };
              var avg_map = {
                0: 0,
                1: 0,
                2: 0,
                3: 0,
                4: 0
              };

              var g_avg_map = {
                0: 0,
                1: 0,
                2: 0,
                3: 0,
                4: 0
              };

              var qa = 0;
              var re = 0;
              var eg = 0;
              var cs = 0;
              var ga = 0;

              for(var info in examinfo)
                { 
                  if(examinfo[info].quant_avg>0){
                    qa += ( ((examinfo[info].user_quant_score) ? (examinfo[info].user_quant_score) : 0) - examinfo[info].quant_avg ) / examinfo[info].quant_avg ;
                    avg_map[0] += (examinfo[info].user_quant_score) ? (examinfo[info].user_quant_score) : 0 ;
                    g_avg_map[0] += ( examinfo[info].quant_avg ) ? (examinfo[info].quant_avg) : 0;
                  }
                  if(examinfo[info].reasoning_avg>0){
                    re += ( ((examinfo[info].user_reasoning_score) ? examinfo[info].user_reasoning_score : 0) - examinfo[info].reasoning_avg ) / examinfo[info].reasoning_avg ;
                    avg_map[1] += (examinfo[info].user_reasoning_score) ? examinfo[info].user_reasoning_score : 0;
                    g_avg_map[1] += examinfo[info].reasoning_avg ? examinfo[info].reasoning_avg : 0;
                  }
                  if(examinfo[info].english_avg>0){
                    eg += ( (examinfo[info].user_english_score ? examinfo[info].user_english_score : 0) - examinfo[info].english_avg ) / examinfo[info].english_avg ;
                    avg_map[2] += examinfo[info].user_english_score ? examinfo[info].user_english_score : 0;
                    g_avg_map[2] += examinfo[info].english_avg ? examinfo[info].english_avg : 0;
                  }
                  if(examinfo[info].cs_avg>0){
                    cs += ( (examinfo[info].user_cs_score ? examinfo[info].user_cs_score : 0) - examinfo[info].cs_avg ) / examinfo[info].cs_avg ;
                    avg_map[3] += examinfo[info].user_cs_score ? examinfo[info].user_cs_score : 0;
                    g_avg_map[3] += examinfo[info].cs_avg ? examinfo[info].cs_avg : 0
                  }
                  if(examinfo[info].ga_avg>0){
                    ga += ( (examinfo[info].user_ga_score ? examinfo[info].user_ga_score : 0) - examinfo[info].ga_avg ) / examinfo[info].ga_avg ;
                    avg_map[4] += examinfo[info].user_ga_score ? examinfo[info].user_ga_score : 0;
                    g_avg_map[4] += examinfo[info].ga_avg ? examinfo[info].ga_avg : 0
                  }
                }

              avg_map[0] /= examinfo.length;
              avg_map[1] /= examinfo.length;
              avg_map[2] /= examinfo.length;
              avg_map[3] /= examinfo.length;
              avg_map[4] /= examinfo.length;

              g_avg_map[0] /= examinfo.length;
              g_avg_map[1] /= examinfo.length;
              g_avg_map[2] /= examinfo.length;
              g_avg_map[3] /= examinfo.length;
              g_avg_map[4] /= examinfo.length;

              var ind_min = [qa,re,eg,cs,ga].indexOf(Math.min.apply(Math, [qa,re,eg,cs,ga]));
              var ind_max = [qa,re,eg,cs,ga].indexOf(Math.max.apply(Math, [qa,re,eg,cs,ga]));
              %>

            </div>
              <div class="col-md-2 col-sm-2 col-md-offset-2 box0">
                <div class="box1">
                  <span class="li_world">
                  </span>
                  <h3>
                  <% var avgm = (avg_map[0]+avg_map[1]+avg_map[2]+avg_map[3]+avg_map[4]) %>
                    <%= (avg_map[0]+avg_map[1]+avg_map[2]+avg_map[3]+avg_map[4]).toFixed(2) %>
                  </h3>
                </div>
                <p>
                  Your IBPS.how rating (Maximum rating possible is 200).
                </p>
              </div>
              <div class="col-md-2 col-sm-2 box0">
                <div class="box1">
                  <span class="li_cloud">
                  </span>
                  <h3>
                    <%= count %>
                  </h3>
                </div>
                <p>
                  more tests to come in next 3 months.
                </p>
              </div>
              <div class="col-md-2 col-sm-2 box0">
                <div class="box1">
                  <span class="li_fire">
                  </span>
                  <h3>
                    <%
                    if(ind_max==qa&&ind_max==re&&ind_max==eg&&ind_max==cs&&ind_max==ga || avgm==0 || ind_max<0 || (qa==re && re==eg && eg==cs && cs==ga) ){
                      %>
                      "None"
                      <% } else { %>
                    <%= submap[ind_max] %>
                    <% } %>
                  </h3>
                </div>
                <p>
                  is your strongest subject
                </p>
              </div>
                <div class="col-md-2 col-sm-2 box0">
                  <div class="box1">
                    <span class="li_news">
                    </span>
                    <h3>
                      <%= nextdate %>
                    </h3>
                  </div>
                  <p>
                    Next exam date
                  </p>
                </div>
              
            </div>
            <!-- /row mt -->
            
            
            <div class="row">
              <!-- TWITTER PANEL -->
              
              <div class="col-md-8 col-sm-8 mb">
                <!-- REVENUE PANEL -->
                <div class="darkblue-panel pn">
                  <div class="darkblue-header">
                    <h5>
                      TEST SCORE
                    </h5>
                  </div>
                  <div class="chart mt">
                    <div class="sparkline" data-type="line" data-resize="true" data-height="75" data-width="90%" data-line-width="1" data-line-color="#fff" data-spot-color="#fff" data-fill-color="" data-highlight-line-color="#fff" data-spot-radius="4" data-data="<% var d=[];for(var info in examinfo){ d.push(examinfo[info].user_score ? examinfo[info].user_score : 0) } %>[<%= d %>]">
                    </div>
                  </div>
                </div>
              </div>
              <!-- /col-md-4 -->
              
              <div class="col-md-4 mb">
              <!-- WHITE PANEL - TOP USER -->
              <div class="darkblue-panel pn">
                <div class="darkblue-header">
                  <h5>WEAKEST SECTION</h5>
                </div>
                <p><img src="./assets/img/ui-danro.jpg" class="img-circle" width="60"></p>
                <p><b class="darkblue-panel-white">
                <% if(ind_max==qa&&ind_max==re&&ind_max==eg&&ind_max==cs&&ind_max==ga || avgm==0 || ind_max<0 || (qa==re && re==eg && eg==cs && cs==ga) ){ %>
                Not enough Data
                <% } else { %>
                <%= submap[ind_min] %>
                <div class="row col-md-12">
                <div class="col-md-6">
                    <p class="small mt darkblue-panel-white">Your Average Score</p>
                    <p class="darkblue-panel-white"><%= avg_map[ind_min].toFixed(2) %> %</p>
                  </div>
                  <div class="col-md-6">
                    <p class="small mt darkblue-panel-white">Global Average Score</p>
                    <p class="darkblue-panel-white"><%= g_avg_map[ind_min].toFixed(2) %> %</p>
                  </div>
                </div>
                <% } %>
                </b></p>
                <div class="row">
                </div>
              </div>
            </div>


            </div>
            <!-- /row -->


            <div class="row">
               <div class="col-md-12">
                      <div class="content-panel">
                          <table class="table table-striped table-advance table-hover">
                            <h4>Test Series Schedule</h4>
                            <hr>
                              <thead>
                              <tr>
                                  <th>Last Test Date</th>
                                  <th>Number of Students</th>
                                  <th>Top Score</th>
                                  <th>Your Score</th>
                                  <th>Average Score</th>
                                  <th>Exam Type</th>
                                  <th>Result</th>
                              </tr>
                              </thead>
                              <tbody>
                              <% for(info in examinfo) { %>
                              <tr>
                              <td><% var d=new Date(examinfo[info].date) %> <%= d.getDate()+"/"+(d.getMonth()+1)+"/"+d.getFullYear() %></td>
                              <td><%= examinfo[info].numberofstudents ? examinfo[info].numberofstudents : "-" %></td>
                              <td><%= examinfo[info].total_topscore ? examinfo[info].total_topscore : "-" %></td>
                              <td><%= examinfo[info].user_score ? examinfo[info].user_score : "-" %></td>
                              <td><%= (examinfo[info].quant_avg+examinfo[info].reasoning_avg+examinfo[info].english_avg+examinfo[info].cs_avg+examinfo[info].ga_avg) ? (examinfo[info].quant_avg+examinfo[info].reasoning_avg+examinfo[info].english_avg+examinfo[info].cs_avg+examinfo[info].ga_avg).toFixed(2) : "-" %></td>
                              <td><%= examinfo[info].examID %></td>
                              <td><% if(examinfo[info].result_announced){ %><a class="btn btn-xs btn-success" href="/result/<%= examinfo[info]._id %>">Open</a><% } else { %>Awaited<% } %></td>
                              </tr>
                              <% } %>
                              </tbody>
                          </table>
                      </div><!-- /content-panel -->
                  </div>
            </div>
            
            
          </div>
          <!-- /col-lg-9 END SECTION MIDDLE -->
          
        </div>
        <! --/row -->
      </section>
    </section>
    
    <% include ./partials/footer %>
    </section>
    
    <!-- js placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js">
    </script>
    <script class="include" type="text/javascript" src="assets/js/jquery.dcjqaccordion.2.7.js">
    </script>
    <script src="assets/js/jquery.scrollTo.min.js">
    </script>
    <script src="assets/js/jquery.sparkline.js">
    </script>
    
    
    <!--common script for all pages-->
    <script src="assets/js/common-scripts.js">
    </script>
    
    <!--script for this page-->
    <script src="assets/js/sparkline-chart.js">
    </script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61553593-1', 'auto');
  ga('send', 'pageview');

</script>
  </body>
</html>
