<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Piyush">
    <link rel="shortcut icon" href="/assets/img/favicon.ico">
    <meta name="keyword" content="IBPS, HOW TO CRACK , General awareness , Mathematics">
    
    <title>
      IBPS | Prepare Conquer
    </title>
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/style-responsive.css" rel="stylesheet">
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js">
</script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js">
</script>
<![endif]-->
  </head>
  
  <body>
    
    <section id="container" >
      <!-- **********************************************************************************************************************************************************
TOP BAR CONTENT & NOTIFICATIONS
*********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
      <a href="/home" class="logo">
        <img src="/assets/img/icon.png" class="logoimg">
        <b>
          IBPS.HOW
        </b>
      </a>
      <div class="top-menu">
        <ul class="nav pull-right top-menu">
          <li>
            <a class="logout" href="/signout">
              Logout
            </a>
          </li>
        </ul>
      </div>
    </header>
    <!--header end-->
    
      <section class="wrapper">
        
        <div class="row">
          <div class="col-lg-12 main-chart">
          

            <div class="darkblue-panel">
                  <div class="darkblue-header">
                    <h5>
                      Please read the below instructions carefully before proceeding
                    </h5>
                  </div>
                  <div class="chart left">
                    <ul>
          Please note that you can take only a single attempt of the question paper. The result of the test will be declared on next Monday.

          Please note that each section has sectional cut-offs.<br>
          The question number of attempted and un-attempted questions is shown on the right hand side of the screen (navigation panel). You can click on any of the question numbers to view the question, in order to attempt/ revise your answer to the question
          To move back and forth between questions, candidates can use the "Next"/ "Previous" buttons or can click on the question number in the navigation panel on the left.<br>
          The answers are saved whenever the candidate navigates, i.e. by clicking on 'Next' or "Previous'' or by clicking a question number in the navigation panel. The candidate can change the response any time before he/she submits the question paper or before the exam time is over.<br>
          After the expiry of time , the candidate will not be able to attempt any question. The answer of the candidate will be saved automatically by the online examination system even if he/she has not clicked the "Submit" button.
                    </ul>
                  </div>
                </div>
          </div>

          <div class="col-lg-12">
          <div class="col-lg-5">
          </div>
          <div class="col-lg-2"><br><br>
          <a class="btn btn-theme btn-block" href="/quiz/<%= eID %>" type="submit"><i class="fa fa-lock"></i>START TEST</a>
          </div>
          <div class="col-lg-5">
          </div>
          </div>
          </div>
        <! --/row -->
      </section>
    </section>
    
    <!-- js placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js">
    </script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61553593-1', 'auto');
  ga('send', 'pageview');

</script>
  </body>
</html>
