<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Piyush">
    <link rel="shortcut icon" href="assets/img/favicon.ico">
    <meta name="keyword" content="IBPS, HOW TO CRACK , General awareness , Mathematics">
    <title>IBPS | Prepare Conquer</title>
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/style-responsive.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <section id="container" >
      <% include ./partials/header %>
      <% include ./partials/sidebar %>
      
      <section id="main-content">
          <section class="wrapper">
          	<h3>Manage Examinations</h3>
              <div class="row mt">
                  <div class="col-md-12">
                      <div class="content-panel">
                          <table class="table table-striped table-advance table-hover">
                              <tbody>
                              <tr>
                              <td>Date</td>
                              <td>Is Active</td>
                              <td>Result Announced</td>
                              <td>ID</td>
                              <td>Total-cutoff</td>
                              <td>QA</td>
                              <td>Reasoning</td>
                              <td>Eng</td>
                              <td>CS</td>
                              <td>GA</td>
                              <td>Save</td>
                              </tr>
                              <% exams.forEach(function(ne){ %>
                              <tr>
                              <form action="/managetest/<%= ne._id %>" method="POST">
                              <td><%= ne.date.getDate()+"/"+(ne.date.getMonth()+1)+"/"+ne.date.getFullYear() %></td>
                              <td><input type="checkbox" name="is_active" value="1" <% if(ne.isactive) { %>checked="checked"<% } %> > </td>
                              <td><input type="checkbox" name="result_active" value="1" <% if(ne.result_announced) { %>checked="checked"<% } %> > </td>
                              <td><a href="/getQs/<%= ne._id %>"><%= ne._id %></a></td>
                              <td><input type="text" name="totalcutoff" value="<%= ne.total_cutoff %>" class="form-control input-sm"></td>
                              <td><input type="text" name="qa" value="<%= ne.quant_cutoff %>" class="form-control input-sm"></td>
                              <td><input type="text" name="rea" value="<%= ne.reasoning_cutoff %>" class="form-control input-sm"></td>
                              <td><input type="text" name="eng" value="<%= ne.english_cutoff %>" class="form-control input-sm"></td>
                              <td><input type="text" name="cs" value="<%= ne.cs_cutoff %>" class="form-control input-sm"></td>
                              <td><input type="text" name="ga" value="<%= ne.ga_cutoff %>" class="form-control input-sm"></td>
                              <td><button type="submit" class="btn btn-success btn-xs">Save</button></td>
                              </form>
                              </tr>
                              <% }) %>
                              </tbody>
                          </table>
                      </div><!-- /content-panel -->
                  </div><!-- /col-md-12 -->
              </div><!-- /row -->

		</section><! --/wrapper -->
      </section><!-- /MAIN CONTENT -->
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="assets/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="assets/js/jquery.scrollTo.min.js"></script>
    <script src="assets/js/common-scripts.js"></script>

  </body>
</html>
