<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Piyush">
    <link rel="shortcut icon" href="assets/img/favicon.ico">
    <meta name="keyword" content="IBPS, HOW TO CRACK , General awareness , Mathematics">
    <title>IBPS | Prepare Conquer</title>
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <section id="container" >
      <% include ./partials/header %>
      <% include ./partials/sidebar %>
      <section id="main-content">
          <section class="wrapper">
          	<div class="alert alert-info">We are constantly trying to keep this section updated.</div>
              <div class="row mt">
                  <div class="col-md-12">
                      <div class="content-panel">
                          <table class="table table-striped table-advance table-hover">
                            <div class="form-inline">
                            <div class="form-group">
	                  	  	  <h4>IBPS Year Wise Paper and Solution</h4>
                            </div>
                            <!-- <div class="form-group pull-right">
                            <input type="text" class="form-control" id="filtersub" placeholder="Filter Year">&nbsp;&nbsp;
                            </div> -->
                            </div>
	                  	  	  <hr>
                              <thead>
                              <tr>
                                  <th>Bank Exam Name</th>
                                  <th>Download Paper</th>
                                  <th>Download Solutions</th>
                              </tr>
                              </thead>
                              <tbody>
                              <% for (var l in lyear){ %>
                              <tr>
                                  <td><%= lyear[l] %></td>
                                  <td><a href="/lastyear/q/<%= l %>.pdf" target="_blank">Paper</a></td>
                                  <td><a href="/lastyear/a/<%= l %>.pdf" target="_blank">Solution</a></td>
                              </tr>
                              <% } %>
                              </tbody>
                          </table>
                      </div><!-- /content-panel -->
                  </div><!-- /col-md-12 -->
              </div><!-- /row -->

		</section><! --/wrapper -->
      </section><!-- /MAIN CONTENT -->

      <!--main content end-->
      <% include ./partials/footer %>
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="assets/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="assets/js/jquery.scrollTo.min.js"></script>


    <!--common script for all pages-->
    <script src="assets/js/common-scripts.js"></script>

    <!--script for this page-->
    
  <script>
      $('#filtersub').keyup(function(){
      var valThis = $(this).val().toLowerCase();
      $('tr').each(function(){
       var text = $(this).text().toLowerCase();
       (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();            
      });
      });
  </script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61553593-1', 'auto');
  ga('send', 'pageview');

</script>
  </body>
</html>
