<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Piyush">
    <link rel="shortcut icon" href="assets/img/favicon.ico">
    <meta name="keyword" content="IBPS, HOW TO CRACK , General awareness , Mathematics">
    <title>IBPS | Prepare Conquer</title>
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/style-responsive.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
  </head>
  
  <body>
   <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                              <h4 class="modal-title">Test time is over</h4>
                          </div>
                          <div class="modal-body">
                              <p>The test will be auto submitted now.</p>
                          </div>
                          <div class="modal-footer">
                              <button class="btn btn-default" type="button" onclick="window.location='/';">OK</button>
                          </div>
                      </div>
                  </div>
              </div>
    <div id="cover"><div class="alert alert-warning" role="alert" style="margin-top: 200px;">Loading Exam .. (Exam is paused , Timer not running)</div></div>
    <section id="container" >
     <header class="header black-bg">
        <a href="/home" class="logo">
          <img src="/assets/img/icon.png" class="logoimg">
          <b>
            IBPS.HOW
          </b>
        </a>
        <div class="top-menu">
          <ul class="nav pull-right top-menu">
            <li>
              <a class="logout" href="/signout">
                Logout
              </a>
            </li>
          </ul>
        </div>
      </header>
      <!--header end-->
      
      <section class="wrapper">
        
        <div class="row">
          <div class="col-lg-12 main-chart">
            
            
            <div class="col-lg-9">
              
              
              <div class="row">
                
                <div class="col-lg-12 darkblue-panel">
                <div class="row subtlepx">
                  <div class="col-lg-12 mb">
                  <button class="yellow_button section_reasoning">
                    Reasoning
                  </button>
                  <button class="yellow_button section_english">
                    English Language
                  </button>
                  <button class="yellow_button section_numerical">
                    Numerical Ability
                  </button>
                  <% if(e.examID =='SBI'){}else{ %>
                  <button class="yellow_button section_general">
                    General Awareness
                  </button>
                  <button class="yellow_button section_computer">
                    Computer Knowledge
                  </button>
                  <% } %>
                  </div>
                  </div>
              </div>
              
              
              <div class="column">
               <!--  <div class="col-lg-1 mb pn_large prevq">
                </div> -->
                <div class="col-lg-6 darkblue-panel pn_large scrollable normal_text"><br>
                <div class="q_major">
                  
                </div>
                
                </div>
                <div class="col-lg-6 darkblue-panel pn_large scrollable">
                <div class="col-lg-12 normal_text"><br>
                <div class="q_minor">
                  
                </div>
                </div>
                <div class="Qoptions">
                  
                </div>
                </div>
                <!-- <div class="col-lg-1 mb pn_large nextq">
                </div> -->
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <button class="yellow_button markNnext" style="float:left">
                    Mark For Review & Next
                  </button>
                  <button class="yellow_button clearResponse" style="float:left">
                    Clear Response
                  </button>
                  <button class="yellow_button savNnext" style="float:right">
                    Save & Next
                  </button>
                  </div>
                  </div>
              </div>
            </div>
            
            <div class="col-lg-3">  
              <div class="row col-lg-12">
                <div class="col-lg-12 darkblue-panel mb">
                  <h5>
                    <i class="fa fa-clock-o"></i>
                    <% if(e.examID=="SBI"){ %>
                    <p class="clock">1h: 00m: 00s</p>
                    <% } else { %>
                    <p class="clock">2h: 00m: 00s</p>
                    <% } %>
                  </h5>
                </div>
                
                <div class="col-lg-12 darkblue-panel still_pn mb scrollable">
                <% for(var i =0 ; i < e.quant.length+e.reasoning.length+e.english.length+e.cs.length+e.ga.length; i++)  { %>
                  <div class="quesBox"><button class="btn btn-s quesNum" id="<%= '__Q__'+(i+1) %>" qnum=<%= (i+1) %> ><%= i+1 %></button></div>
                <% } %>
                <!-- <div class="quesBox"><a href="#" class="quesNum ques-correct">1</a></div>
                <div class="quesBox"><a href="#" class="quesNum ques-wrong">2</a></div>
                <div class="quesBox"><a href="#" class="quesNum ques-review">3</a></div>
                 -->
                </div>
                <div class="col-lg-12 darkblue-panel mb">
                <div class="row mb">
                  <button class="btn normal_text btn-xs ques-correct cleartop">Answered</button>
                  <button class="btn normal_text btn-xs ques-wrong cleartop">Not answered</button>
                  <button class="btn normal_text btn-xs ques-review cleartop">Marked</button>
                  <button class="btn btn-xs cleartop">Not visited</button>
                </div>
                  
                </div>

                <div class="col-lg-12 text-center">
                <button class="btn normal_text btn-s ques-review submittest">Submit Test</button>
                </div>
                
              </div>
            </div>
            
            
          </div>
          
          
        </div>
        <! --/row -->
      </section>
    </section>
    <div class="Qidval" Qid="<%= Qid %>"></div>
    <!-- js placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/offline.min.js"></script>
    <script src="/assets/js/quizmod.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/1.4.14/jquery.scrollTo.min.js"></script>
    <script type="text/javascript">
        var Q = 1;
        var largest=0;
        var section_reasoning = 0;
        var section_english = 0;
        var section_numerical = 0;
        var section_general = 0;
        var section_computer = 0;
        var answers = {}
        var GET_Q = function(a,b){
            getQ(a,b,answers);
        }


        numQ("<%= Qid %>",function(a,b,c,d,e){
            largest= a+b+c+d+e;
            section_reasoning = 1;
            section_english = 1+a;
            section_numerical = 1+a+b;
            section_general = 1+a+b+c;
            section_computer = 1+a+b+c+d;
            
            $(document).on("click", ".nextq , .savNnext", function (ev) {
                Q = Q + 1;
                if(Q>largest){
                  Q = largest
                }
                else{
                  if( ! ($("#__Q__"+Q).hasClass("ques-correct")) && !($("#__Q__"+Q).hasClass("ques-review")) )
                    $("#__Q__"+Q).addClass("ques-wrong");
                  GET_Q("<%= Qid %>",Q);
                  $(".still_pn").scrollTo( '#__Q__'+Q, 0 );
                }
            });

            $(document).on("click", ".prevq", function (ev) {
                Q = Q - 1;
                if(Q==0){
                  Q = 1;
                }
                else{
                  if( ! ($("#__Q__"+Q).hasClass("ques-correct")) && !($("#__Q__"+Q).hasClass("ques-review")) )
                    $("#__Q__"+Q).addClass("ques-wrong");
                  GET_Q("<%= Qid %>",Q);
                }
            });

            $(document).on("click", ".markNnext", function (ev) {
                $('#__Q__'+Q).removeClass("ques-wrong").addClass("ques-review");
                Q = Q + 1;
                if(Q>largest){
                  Q = largest
                }
                else{
                  if( ! ($("#__Q__"+Q).hasClass("ques-correct")) && !($("#__Q__"+Q).hasClass("ques-review")) )
                    $("#__Q__"+Q).addClass("ques-wrong");
                  GET_Q("<%= Qid %>",Q);
                  $(".still_pn").scrollTo( '#__Q__'+Q, 0 );
                }
            });

            $(document).on("click", ".clearResponse", function (ev) {
              if(answers[Q]){
                  $('#__Q__'+Q).removeClass("ques-correct").removeClass("ques-review").addClass("ques-wrong");
                  $(".opt"+answers[Q]["selected"]).prop("checked", false);
                  delete answers[Q];                
              }
            });

            $(document).on("click", ".quesNum", function (ev) {
                Q = parseInt($(this).attr("qnum"));
                if( ! ($("#__Q__"+Q).hasClass("ques-correct")) && !($("#__Q__"+Q).hasClass("ques-review")) )
                  $(this).addClass("ques-wrong");
                GET_Q("<%= Qid %>", parseInt($(this).attr("qnum")) );
            });


            // var r = confirm("Press a button!");
            $(document).on("click", ".submittest", function (ev) {
                var r = confirm("Confirm Submit Test ?");
                console.log(answers);
                if (r == true) {
                    jQuery.post("/quiz/<%= Qid %>/",
                      {"json":JSON.stringify(answers)},
                      function(data){console.log(data);}, 
                      "json");
                    alert("Submitted");
                    window.location = "/"
                }
            });

            $(document).on("click", ".answerS", function (ev) {
              var obj = $(this.children[0].children[0]);
              var q_name = obj.attr("quespaper");
              var q_num = obj.attr("quesnumber");
              var q_selected_ans = obj.attr("value");
              var overindex = obj.attr("overindex");
              answers[overindex]={
                  "name":q_name,
                  "num":q_num,
                  "selected":q_selected_ans
                }
              $("#__Q__"+overindex).removeClass("ques-review").removeClass("ques-wrong").addClass("ques-correct");
            });

            $(document).on("click", ".section_reasoning", function (ev) {
              if( ! ($("#__Q__"+section_reasoning).hasClass("ques-correct")) && !($("#__Q__"+section_reasoning).hasClass("ques-review")) )
                $('#__Q__'+section_reasoning).addClass("ques-wrong");
              Q = section_reasoning;
              GET_Q("<%= Qid %>", section_reasoning);
              $(".still_pn").scrollTo( '#__Q__'+section_reasoning, 800 );
            });
            $(document).on("click", ".section_english", function (ev) {
              if( ! ($("#__Q__"+section_english).hasClass("ques-correct")) && !($("#__Q__"+section_english).hasClass("ques-review")) )
                $('#__Q__'+section_english).addClass("ques-wrong");
              Q = section_english;
              GET_Q("<%= Qid %>", section_english);
              $(".still_pn").scrollTo( '#__Q__'+section_english, 800 );
            });
            $(document).on("click", ".section_numerical", function (ev) {
              if( ! ($("#__Q__"+section_numerical).hasClass("ques-correct")) && !($("#__Q__"+section_numerical).hasClass("ques-review")) )
                $('#__Q__'+section_numerical).addClass("ques-wrong");
              Q = section_numerical;
              GET_Q("<%= Qid %>", section_numerical);
              $(".still_pn").scrollTo( '#__Q__'+section_numerical, 800 );
            });
            $(document).on("click", ".section_general", function (ev) {
              if( ! ($("#__Q__"+section_general).hasClass("ques-correct")) && !($("#__Q__"+section_general).hasClass("ques-review")) )
                $('#__Q__'+section_general).addClass("ques-wrong");
              Q = section_general;
              GET_Q("<%= Qid %>", section_general);
              $(".still_pn").scrollTo( '#__Q__'+section_general, 800 );
            });
            $(document).on("click", ".section_computer", function (ev) {
              if( ! ($("#__Q__"+section_computer).hasClass("ques-correct")) && !($("#__Q__"+section_computer).hasClass("ques-review")) )
                $('#__Q__'+section_computer).addClass("ques-wrong");
              Q = section_general;
              GET_Q("<%= Qid %>", section_computer);
              $(".still_pn").scrollTo( '#__Q__'+section_computer, 800 );
            });

        });
    </script>


    <script type="text/javascript">
    $(document).ready(function() {
        <% if(e.examID=="SBI"){ %>
        var target_date = addMinutes(new Date(),60).getTime();
        <% } else { %>
        var target_date = addMinutes(new Date(),120).getTime();
        <% } %>
        var hours, minutes, seconds;
        var countdown = $(".clock");
        var ispaused = false
        var testtimer = setInterval(function () {
            if(!ispaused){
              var current_date = new Date().getTime();
              var seconds_left = (target_date - current_date) / 1000;
              if(seconds_left<=0){
                $('#myModal').modal('show');
                clearInterval(testtimer);
                jQuery.post("/quiz/<%= Qid %>/",
                      {"json":JSON.stringify(answers)},
                      function(data){
                        if(data.status=="success"){
                          $(".modal-body").text("Test has beed submitted , redirecting you to dashboard");
                        }
                        else{
                          $(".modal-body").text("Error in saving test , redirecting you to dashboard");
                        }
                        setInterval(function(){ window.location="/"; }, 10000);
                      }, 
                      "json");
              }
              else{
                seconds_left = seconds_left % 86400;
                hours = parseInt(seconds_left / 3600);
                seconds_left = seconds_left % 3600;
                minutes = parseInt(seconds_left / 60);
                seconds = parseInt(seconds_left % 60);
                countdown.text(hours + "h: "
                + minutes + "m: " + seconds + "s");
              }
            }
        }, 1000);

        function addMinutes(date, minutes) {
          return new Date(date.getTime() + minutes*60000);
        }
        function pausetimer(){
          ispaused = true
        }
        function starttimer(){
          ispaused = false
        }
        function deltimer(){
          window.clearInterval(testtimer);
        }
        // Internet connectivity issues
        var $offline = $('#cover');
        Offline.options = {checks: {xhr: {url: '/assets/img/zero.png'}}};
        Offline.on('confirmed-down', function () {
                pausetimer();
                $offline.fadeIn();
        });
        Offline.on('confirmed-up', function () {
                starttimer();
                $offline.fadeOut();
        });


      });
    </script>

  </body>
</html>
