<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Piyush">
    <link rel="shortcut icon" href="assets/img/favicon.ico">
    <meta name="keyword" content="IBPS, HOW TO CRACK , General awareness , Mathematics">
    <title>
    IBPS | Prepare Conquer
    </title>
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

	  <div id="login-page">
	  	<div class="container">
              <% if(message.length>0){ %>
              <br>
              <div class="alert alert-danger"><%= message %></div>
              <% } %>
		      <form class="form-login" action="/signup" method="POST">
		        <h2 class="form-login-heading">sign up now</h2>
		        <div class="login-wrap">
		            <input type="text" class="form-control" placeholder="User Name (will be used to login)" name="username" autofocus>
		        	<br>
                <input type="text" class="form-control" placeholder="email" name='email' autofocus>
                <br>
		            <input type="password" class="form-control" placeholder="Password" name='password'>
		            <br>
		            <input type="password" class="form-control" placeholder="Repeat Password" name='password_repeat'>
		            <br>
                <input type="checkbox" name="working" value="working_status"/> I am employed.<br>
                <br>
                <div class="alert alert-info">Promo Code 'LAUNCH1000' active<br>Congratulations , NearTerm Plan activated
                </div>
                <button class="btn btn-theme btn-block" type="submit"><i class="fa fa-lock"></i> SIGN UP</button>
		            <hr>
		            <div class="registration">
		                Already have an account?<br/>
		                <a class="" href="/">
		                    Login
		                </a>
		            </div>
		        </div>		
		      </form>	  	
	  	
	  	</div>
	  </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="assets/js/jquery.backstretch.min.js"></script>
    <script>
        $.backstretch("assets/img/login-bg.jpg", {speed: 500});
    </script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61553593-1', 'auto');
  ga('send', 'pageview');

</script>
  </body>
</html>
