<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Piyush">
    <link rel="shortcut icon" href="/assets/img/favicon.ico">
    <meta name="keyword" content="IBPS, HOW TO CRACK , General awareness , Mathematics">
    <title>IBPS | Prepare Conquer</title>
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet" />
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/style-responsive.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <section id="container" >
      <% include ./partials/header %>
      
          <section class="wrapper">
          	<h3>Result : </h3>
          <div class="alert alert-warning">
          <h3>Your overall score was "<% if(quiz.total_cutoff<userscore) { %>more than<% } else { %>less than<% } %>" the cutoff score.</h3>
          <h3><% if(parseInt(userscore)< 40) { %>Sorry , your score is very low for ranking<% } else{ %> YOUR RANK AMONG <%= quiz.numberofstudents %> STUDENTS : <span class='alert-danger alert'><%= Math.ceil( parseInt(quiz.numberofstudents) - userscore*( parseInt(quiz.numberofstudents)/quiz.total_topscore ) ) + 1 %>
          </span><% } %></h3>
          </div>
          <table class="table table-hover">
          <tr>
          <td class="danger"><b>Date Of exam</b></td>
          <td class="danger"><b>Number of students</b></td>
          <td class="danger"><b>Average Score</b></td>
          <td class="danger"><b>Total Cutoff</b></td>
          <td class="danger"><b>Top Score</b></td>
          <td class="danger"><b>Your Score</b></td>
          </tr>
          <tr>
          <td><%= quiz.date.getDate()+"/"+(quiz.date.getMonth()+1)+"/"+quiz.date.getFullYear() %></td>
          <td><%= quiz.numberofstudents %></td>
          <td><%= Math.ceil(quiz.quant_avg+quiz.reasoning_avg+quiz.english_avg+quiz.cs_avg+quiz.ga_avg) %></td>
          <td><%= quiz.total_cutoff %></td>
          <td><%= quiz.total_topscore %></td>
          <td><%= userscore %></td>
          </tr>
          </table>
          <table class="table table-hover">
            <tr>
              <td class="danger">Subject</td>
              <td class="danger">Score</td>
              <td class="danger">Cutoff</td>
            </tr>
            <tr>
              <td>Quant</td>
              <td><%= subscore[4] %></td>
              <td><%= quiz.quant_cutoff %></td>
            </tr>
            <tr>
              <td>Reasoning</td>
              <td><%= subscore[3] %></td>
              <td><%= quiz.reasoning_cutoff %></td>
            </tr>
            <tr>
              <td>English</td>
              <td><%= subscore[2] %></td>
              <td><%= quiz.english_cutoff %></td>
            </tr>
            <% if(quiz.examID=="IBPS") { %>
	    <tr>
              <td>Computer</td>
              <td><%= subscore[1] %></td>
              <td><%= quiz.cs_cutoff %></td>
            </tr>
            <tr>
              <td>General Awareness</td>
              <td><%= subscore[0] %></td>
              <td><%= quiz.ga_cutoff %></td>
            </tr>
   	    <% } %>
       </table>
          <hr>
          <h3>Solutions : </h3>
              <div class="row mt">
                  <div class="col-md-12">
<h4>Quantitative aptitude</h4>
<% for(var q=0;q<quiz.quant.length;q++) { %>
<%- include('./partials/solutionQ', {questionObj: quiz.quant[q],index:q, perans : Uanswers["quant"]}); %>
<% } %>
<h4>Reasoning</h4>
<% for(var q=0;q<quiz.reasoning.length; q++) { %>
<%- include('./partials/solutionQ', {questionObj: quiz.reasoning[q],index:q, perans : Uanswers["reasoning"]}); %>
<% } %>
<% if(quiz.examID=="IBPS") { %>
<h4>General Awareness</h4>
<% for(var q=0;q<quiz.ga.length;q++) { %>
<%- include('./partials/solutionQ', {questionObj: quiz.ga[q],index:q , perans : Uanswers["ga"] }); %>
<% } %>
<h4>Computer Science</h4>
<% for(var q=0;q<quiz.cs.length;q++) { %>
<%- include('./partials/solutionQ', {questionObj: quiz.cs[q],index:q , perans : Uanswers["cs"]}); %>
<% } %>
<% } %>
<h4>English</h4>
<% for(var q=0;q<quiz.english.length; q++) { %>
<%- include('./partials/solutionQ', {questionObj: quiz.english[q],index:q, perans : Uanswers["english"]}); %>
<% } %>

                  </div><!-- /col-md-12 -->
              </div><!-- /row -->

		</section><! --/wrapper -->

  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="/assets/js/jquery.scrollTo.min.js"></script>
    <script src="/assets/js/common-scripts.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61553593-1', 'auto');
  ga('send', 'pageview');

</script>
  </body>
</html>
