<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Piyush">
    <link rel="shortcut icon" href="assets/img/favicon.ico">
    <meta name="keyword" content="IBPS, HOW TO CRACK , General awareness , Mathematics">
    <title>IBPS | Prepare Conquer</title>
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/style-responsive.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <section id="container" >
      <% include ./partials/header %>
      <% include ./partials/sidebar %>
      
      <section id="main-content">
          <section class="wrapper">
              <div class="row mt">
                  <div class="col-md-12">
                      <div class="text-center">
                        <h4>To help you prepare for SBI exam , we are lauching special SBI specific tests</h4>
                        <% if(exam_given) { %>
                      <h3>Result will open on <b><u><%= nextdate %> : night 11:59 pm</u></b></h3>
                      <h5><sup>*</sup>Exam is open till <b><%= nextdate %></b> for others</h5>
                      <a class="btn btn-success btn-s" href="/analysis">Analyse your performance</a>
                      <% } else { %>
                      <h2>This week's exam is open till <b><%= nextdate %></b></h2>
                      <a class="btn btn-success btn-s" href="/launch/<%= eID %>">Give exam based on new SBI pattern</a>
                      <% } %>
                      </div>
                      <br><br><br><br>
                      

                      <h4>New pattern :</h4>
                      <div class="content-panel">
                        <table class="table table-striped table-advance table-hover">
                            <h4>PRELIMS : 100 Marks</h4>
                            <hr>
                              <thead>
                              <tr>
                                  <th>#</th>
                                  <th>Name of Test</th>
                                  <th>Number of questions</th>
                                  <th>Marks</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr>
                              <td>1</td>
                              <td>English</td>
                              <td>30</td>
                              <td>30</td>
                              </tr>
                              <tr>
                              <td>2</td>
                              <td>Quantitative Aptitude</td>
                              <td>35</td>
                              <td>35</td>
                              </tr>
                              <tr>
                              <td>3</td>
                              <td>Reasoning Ability </td>
                              <td>35</td>
                              <td>35</td>
                              </tr>
                              </tbody>
                          </table>
                          <table class="table table-striped table-advance table-hover">
                            <h4>MAINS : 200 Marks</h4>
                            <hr>
                              <thead>
                              <tr>
                                  <th>#</th>
                                  <th>Question Section</th>
                                  <th>Name of Test</th>
                                  <th>Marks</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr>
                              <td>1</td>
                              <td>Part 1</td>
                              <td>English</td>
                              <td>50</td>
                              </tr>
                              <tr>
                              <td>2</td>
                              <td>Part 1</td>
                              <td>Quantitative Aptitude</td>
                              <td>50</td>
                              </tr>
                              <tr>
                              <td>3</td>
                              <td>Part 1</td>
                              <td>Reasoning Ability</td>
                              <td>50</td>
                              </tr>
                              <tr>
                              <td>4</td>
                              <td>Part 1</td>
                              <td>GA / Marketing / Computer</td>
                              <td>50</td>
                              </tr>
                              <tr>
                              <td>5</td>
                              <td><b>Part 2</b></td>
                              <td>Descriptive Test</td>
                              <td>50</td>
                              </tr>
                              </tbody>
                          </table>

                      </div><!-- /content-panel -->
                  </div><!-- /col-md-12 -->
                  <hr>
              </div><!-- /row -->




		</section><! --/wrapper -->
      </section><!-- /MAIN CONTENT -->

      <!--main content end-->
      <% include ./partials/footer %>
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="/assets/js/jquery.scrollTo.min.js"></script>
    <script src="/assets/js/common-scripts.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61553593-1', 'auto');
  ga('send', 'pageview');

</script>
  </body>
</html>
