<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Piyush">
    <link rel="shortcut icon" href="assets/img/favicon.ico">
    <meta name="keyword" content="IBPS, HOW TO CRACK , General awareness , Mathematics">
    <title>IBPS | Prepare Conquer</title>
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/style-responsive.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <section id="container" >
      <% include ./partials/header %>
      <% include ./partials/sidebar %>
      <% var IDS=['list-primary','list-danger','list-success','list-warning','list-info'] %>
      <% var count=0 %>
      <% var ubcount=1 %>
      <section id="main-content">
          <section class="wrapper">
              <div class="row mt">
                  <div class="container"> 
                  <div class="text-center">
                  <div class="form-inline">
                  <div class="form-group">
                  <input type="text" class="pull-right form-control" id="filtersub" placeholder="Filter Subject">
                  </div>
                  <div class="form-group">
                  <input type="text" class="pull-right form-control" id="filterbox" placeholder="Filter Category">
                  </div>
                  </div>
                  </div>
                  </div>
                  <br>
                  <div class="col-md-offset-1 col-md-10">
                    <% for(var subject in config ) { %>
                    <section class="task-panel tasks-widget">
                    <div class="content-panel">
                    <div class="panel-heading">
                          <div class="pull-left"><h5><i class="fa fa-tasks"></i>  <%= subject %></h5></div>
                          <br>
                    </div>
                          <div class="panel-body">
                              <div class="task-content">
                                  <ul id="sortable" class="task-list ui-sortable l<%= ubcount++ %>" belongto="<%= subject %>">
                                  <% for(test in config[subject]) { %>
                                      <li class="<% count++ %><%= IDS[count%5] %>">
                                          <i class=" fa fa-ellipsis-v"></i>
                                          <div class="task-title">
                                              <span class="task-title-sp"><%= test %> </span>
                                              <% if(user.user_sectional_history) { %>
                                              <% if(user.user_sectional_history[config[subject][test]] != undefined ) { %>
                                              <% var scorehegot = user.user_sectional_history[config[subject][test]] %>
                                              <span class="badge <% if(scorehegot>70){ %>bg-success<% } else { %>bg-important<% } %>">Attempted ; Last score was <%= Math.ceil(scorehegot) %> %
                                              </span>
                                              <% } %>
                                              <% } %>
                                              <div class="pull-right">
                                                  <a href="/static/<%= config[subject][test] %>" class="btn btn-success btn-xs">Launch</a>
                                                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                              </div>
                                          </div>
                                      </li>

                                      <% } %>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      </section>
                      <% } %>
                  </div>
              </div><!-- /row -->

    </section><! --/wrapper -->
      </section><!-- /MAIN CONTENT -->

      <!--main content end-->
      <% include ./partials/footer %>
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="/assets/js/jquery.scrollTo.min.js"></script>
    <script src="/assets/js/common-scripts.js"></script>
    <script type="text/javascript">
      $('#filterbox').keyup(function(){
      var valThis = $(this).val().toLowerCase();
      $('.l1>li,.l2>li,.l3>li,.l4>li,.l5>li').each(function(){
       var text = $(this).text().toLowerCase();
          (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();            
      });
      });

      $('#filtersub').keyup(function(){
      var valThis = $(this).val().toLowerCase();
      $('.l1,.l2,.l3,.l4,.l5').each(function(){
       var text = $(this).attr("belongto").toLowerCase();
          (text.indexOf(valThis) == 0) ? $(this).show() : $(this).hide();            
      });
      });

    </script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61553593-1', 'auto');
  ga('send', 'pageview');

</script>
  </body>
</html>
