<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Piyush">
    <link rel="shortcut icon" href="/assets/img/favicon.ico">
    <meta name="keyword" content="IBPS, HOW TO CRACK , General awareness , Mathematics">
    <title>IBPS | Prepare Conquer</title>
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet" />
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/style-responsive.css" rel="stylesheet">
    <link href="/assets/css/static_quiz.css" type="text/css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <section id="container" >
        <% include ./partials/header %>
        <% include ./partials/sidebar %>

<section id="main-content">
          <section class="wrapper">
              <div class="row mt">
                  <div class="col-md-12">


        <div id="Qmain">
            <div class="screen-start">
                <h2><%= papername %></h2>
                <p style="font-size: 18px;">Start the quiz by clicking the start button</p>
                <p><div class="papercount"></div></p>
                <br />
                <button id="qstart" class="btn btn-success btn-large">Start</button>
            </div>
            <div class="screen-finish">
                <p style="font-size: 18px;">Thank you for taking the test</p>
                <h2>You scored </h2>
                <br />
                <button class="btn btn-warning" onclick="window.location.reload()">Retry</button>
                <button id="show-ans" class="btn btn-info">Show answers</button>
            </div>
            <div id="quiz">
                <div id="info">
                    <span id="qnum">2/10</span>
                    <span id="time"></span>
                </div>
                <div id="qus">
                    Questions will go here
                </div>
                <div id="ans">
                    <ul class="radioList">
                    </ul>
                </div>
                <div id="nav">
                    <button id="fin-btn" class="btn btn-danger">Finish</button>
                    <button id="ans-clear" class="btn btn-danger">Deselect</button>
                    <button id="next-btn" class="btn btn-primary">Next</button>
                    <button id="prev-btn" class="btn btn-primary">Previous</button>
                </div>
            </div>
            <div id="result"><ol></ol></div>
        </div>

                  </div>
              </div>
        </section>
      </section>

<div class="subjectid" subjectid="<%= subjectid %>"></div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/static_quiz.js"></script>
    <script src="/assets/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="/assets/js/jquery.scrollTo.min.js"></script>
    <script src="/assets/js/common-scripts.js"></script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61553593-1', 'auto');
  ga('send', 'pageview');

</script>'
    </body>
</html>
