<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Piyush">
    <link rel="shortcut icon" href="assets/img/favicon.ico">
    <meta name="keyword" content="IBPS, HOW TO CRACK , General awareness , Mathematics">
    <title>IBPS | Prepare Conquer</title>
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/style-responsive.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <section id="container" >
      <% include ./partials/header %>
      <% include ./partials/sidebar %>
      
      <section id="main-content">
          <section class="wrapper">
              <div class="row mt">
                  <div class="col-md-offset-1 col-md-10">
                  <h4>The english exam requires you to have good read and type Speed !</h4>
                      <div class="content-panel">
                        <!--  STARTS HERE -->
<h4>Speedster - How fast do you type ?</h4>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tbody>
  <tr>
   <td style="padding: 4px" class="titlec">
   <input onclick="document.getElementById('AfterAction').style.display='none';
              document.getElementById('expectedArea').style.display='block';
              document.getElementById('typeArea').style.display='block';
              document.JobOp.typed.value='';document.JobOp.typed.disabled=false;
              randNum = Math.floor((Math.random() * 10)) % intToTestCnt;
              strToTestType = strToTest[randNum];
              document.JobOp.given.value = strToTestType;" 
         type="button" value="New Test" 
         name="newtest" style="float: right;" class="btn btn-default"/></td>
  </tr>
 </tbody>
 </table>
<table border="0" cellpadding="0" 
           cellspacing="0" width="100%">
 <tbody>
 <tr>
  <td style="padding: 4px" colspan="2">
  <form name="JobOp">
   <table border="0" cellpadding="5" width="100%">
    <tbody>
    <tr>
     <td>
     <table border="0" cellpadding="5" width="100%">
      <tbody>
      <tr>
       <td align="center" style="padding: 5px; background-color: #3498db; color:white">
       <b>Net / Gross WPM</b></td>
       <td align="center" style="padding: 5px; background-color: #3498db; color:white">
       <b>Entry Errors</b></td>
       <td align="center" style="padding: 5px; background-color: #3498db; color:white">
       <b>Accuracy</b></td>
       <td align="center" style="padding: 5px; background-color: #3498db; color:white">
       <b>Elapsed / Remaining</b></td>
      </tr>
      <tr>
       <td align="center"><div id="stat_wpm">Not Started</div></td>
       <td align="center"><div id="stat_errors">Waiting...</div></td>
       <td align="center"><div id="stat_score">Waiting...</div></td>
       <td align="center"><div id="stat_timeleft">0:00</div></td>
      </tr>
     </tbody>
     </table>
     </td>
    </tr>
    <tr>
     <td>
     <div id="expectedArea" style="display:block">
      <p style="margin-top: 0; margin-bottom: 0">
      <textarea name="given" cols="53" rows="10" wrap="on" onfocus="deterCPProtect();" style="width: 100%; padding: 2px;color:grey">
        Click on the button below to start the typing test. 
        What you will be expected to type will appear here.
      </textarea>
      </p>
     </div>
     </td>
    </tr>
    <tr>
     <td>
     <p align="center" style="margin-top: 0; margin-bottom: 2px">
     <input type="button" 
        value="Start Test" name="start" 
        onclick="beginTest()" 
        style="display:block;width: 100%; color:#FFFFFF;" class="btn btn-success" /></p>
     <p align="center" style="margin-top: 0; margin-bottom: 0">
     <input disabled="" type="button" 
       value="End Test" 
       name="stop" onclick="endTest()" 
       style="display:none; width: 100%; color:#FFFFFF;" class="btn btn-danger"/></p>
     </td>
    </tr>
    <tr>
     <td>
     <div id="typeArea" style="display:block">
      <table border="0" width="100%" cellspacing="1">
       <tbody>
       <tr>
        <td style="background-color: #EAECF4">
        <div align="left">
         <table id="stProg" border="0" 
                     width="0%" cellspacing="1">
          <tbody>
          <tr>
           <td style="background-color: #3498db;color:#FFFFFF ; padding:5px"
                       align="right">
           <div id="thisProg">
            0%</div>
           </td>
          </tr>
         </tbody>
         </table>
        </div>
        </td>
       </tr>
      </tbody>
      </table>
      <p style="margin-top: 0; margin-bottom: 0">
      <textarea onkeypress="doCheck();" onkeydown="//calcStat()" 
         name="typed" cols="53" rows="10" wrap="on" 
         style="width: 100%; padding: 2px;"></textarea>
      </p>
     </div>
     <div id="AfterAction" style="display:none">
     </div>
     </td>
    </tr>
    <script src="/assets/js/speed.js"></script>
    <script>
 randNum = Math.floor((Math.random() * 10)) % intToTestCnt;
 strToTestType = strToTest[randNum];
 
 document.JobOp.given.value = strToTestType;
 document.JobOp.typed.focus();
 </script>
   </tbody>
   </table>
  </form>
  </td>
 </tr>
</tbody>
</table>



                        <!-- ENDS HERE -->
                      </div><!-- /content-panel -->
                  </div><!-- /col-md-12 -->
              </div><!-- /row -->

		</section><! --/wrapper -->
      </section><!-- /MAIN CONTENT -->

      <!--main content end-->
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="/assets/js/jquery.scrollTo.min.js"></script>
    <script src="/assets/js/common-scripts.js"></script>

    
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61553593-1', 'auto');
  ga('send', 'pageview');

</script>
  </body>
</html>
