<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Piyush">
    <link rel="shortcut icon" href="assets/img/favicon.ico">
    <meta name="keyword" content="IBPS, HOW TO CRACK , General awareness , Mathematics">
    <title>IBPS | Prepare Conquer</title>
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/style-responsive.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <section id="container" >
      <% include ./partials/header %>
      <% include ./partials/sidebar %>
      
      <section id="main-content">
          <section class="wrapper">
              <div class="row mt">
                  <div class="col-md-offset-1 col-md-10">
                      <h4>TOP 15 News today</h4>
                      <div class="content-panel">
                        <% news.forEach(function(ne,i){ %>
                        <div class="wrapper" style="margin-top:0px;">
                        <%= ne.url.match(/^(([a-z]+:)?(\/\/)?[^\/]+\/).*$/)[1] %>
                        <b><h5> <%= ne.heading %></h5></b>
                        
                        <div>
                            <div class="pull-right">
                              <a href="<%= ne.url %>" target="_blank" class="btn btn-success btn-xs">Open</a>
                            </div>
                            <div class="pull-left">
                            <% if(ne.tag) { %>
                            <span class="label label-primary"><%= ne.tag %></span>
                            <% } %>
                            </div>
                        </div>
                        </div>
                        <hr>
                        <% }) %>
                          <!-- <table class="table table-advance table-hover">
                              <tbody>
                              <tr>
                                <td>#</td>
                                <td>News</td>
                                <td>Tag</td>
                              </tr>
                              <% news.forEach(function(ne,i){ %>
                              <tr>
                              <td>(<%= (i+1) %>)</td>
                              <td><a href="<%= ne.url %>" target="_blank"><%= ne.heading %></a></td>
                              <td><div class="btn btn-xs btn-success"><% if(ne.tag) { %> <%= ne.tag %> <% } else { %>general<% } %></div></td>
                              </tr>
                              <% }) %>
                              </tbody>
                          </table> -->
                      </div><!-- /content-panel -->
                  </div><!-- /col-md-12 -->
              </div><!-- /row -->

		</section><! --/wrapper -->
      </section><!-- /MAIN CONTENT -->

      <!--main content end-->
      <% include ./partials/footer %>
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="/assets/js/jquery.scrollTo.min.js"></script>
    <script src="/assets/js/common-scripts.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61553593-1', 'auto');
  ga('send', 'pageview');

</script>
  </body>
</html>
